#animatedText {
  color:#999;
  text-transform: uppercase;
  font-size:1.0625rem;
  font-weight:bold;
}


#flip {
  height:3.1em;
  overflow:hidden;
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);

}

#flip > div > div {
  color:#fff;
  height:2.7em;
  margin-bottom:2.7em;
  min-width: 13em;
  display:inline-block;
  text-align:center;
}

#flip > div {
  line-height: 2.7em;
}

#flip div:first-child {
  animation: show 5s linear infinite;
  border-radius: 10px;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f34c;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top: -16.875rem;}   /* -270px in em */
  5% {margin-top: -11.25rem;}    /* -180px in em */
  33% {margin-top: -11.25rem;}   /* -180px in em */
  38% {margin-top: -5.625rem;}   /* -90px in em */
  66% {margin-top: -5.625rem;}   /* -90px in em */
  71% {margin-top: 0rem;}        /* 0px in em */
  99.99% {margin-top: 0rem;}     /* 0px in em */
  100% {margin-top: -16.875rem;}  /* -270px in em */
}

