@font-face { /*The @font-face ruleset, defining a single font for use elsewhere in your page’s CSS*/
  font-family: 'Neuropol'; /*Declares the name for this font*/
  font-style: normal;
  font-weight: 100; /*Defines which font style and font weight this @font-face applies to*/
  src: url(./src/fonts/neuropol.otf) format('woff2'); /*Location(s) where the font file can be found*/  
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; /*The unicode character ranges this @font-face applies to*/  
}

*,
*::before,
*::after {
  box-sizing: border-box; /*Esto es estandar para el box model*/
}

img {
  /*Este es otro estandar recomendado para estos projectos*/
  max-width: 100%;
  display: block;
}

html {
  
  letter-spacing: 1.5px;
  font-family: 'Neuropol', sans-serif;
  color-scheme: dark; /*Esto es para que el sistema tenga preferencia entre dark y light
  si se utiliza light y dark juntos el browser va a mirar el defult del sistema*/
}


body {
  margin: 0;
}

.visually-hidden:not(:focus):not(:active) { /*El codigo viene de https://www.a11yproject.com/posts/how-to-hide-content/*/ 
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.filterContainer{
filter:url(#round);
}

.mainContent{
  min-height: 85vh;
  background-image: url("./src/images/mainBackground.webp");
  background-size: cover;
  background-position: center;
  color: black;
  display: flex;
  align-items: center;
  clip-path: polygon(100% 0%, 100% 30%, 70% 30%, 70% 70%, 100% 70%, 100% 100%, 0 100%, 0 0);
  filter:url(#round);
}

.mainContent__title{
  margin-left: 1.5em;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.footer__card{
  font-family: 'Neuropol', sans-serif;
  margin: 0 auto;
  max-width: 12em;
  min-width: 12em;
}

.footer__navBar{
  align-self: center;
}


.mainShadow {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 62px;
  text-align: left;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  
  &.retroshadow {
    color: #d5d5d5;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px  #2c2c2c, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
  }
  &.insetshadow {
    color: #202020;
    background-color: #2d2d2d;
    letter-spacing: .1em;
    text-shadow: 
      -1px -1px 1px #111, 
      2px 2px 1px #363636;
  }
}
