.heroContainer__background {
  background-image: url("../images/contact.webp");
  justify-content: center;
  gap: 5em;
  
}

.googleAdressContainer {
  
  display: flex;
  flex-direction: row;
  gap: 0;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin: 2em 0em;
  padding: 0.5em;
}

@media (max-width: 50em) { 

  iframe {
    width: calc(600px * 0.5);
    height: calc(450px * 0.5);
  }

  .googleAdressContainer .footer__container__addressCard {
    max-width: 25em;
    margin-left: 0;
    border-left: none;
    padding-left: 0.8em;
  }
}